body {
  background: url('/assets/bulldogpups.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  text-align: center;
  color: #fff;
}
.transparentbg {
  background-color: rgba(0,0,0,0.5);
  margin: auto 0;
  padding: 10px;
}
.header {
  margin: 50px auto 20px;
}
.button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-style: solid;
  border-color: #fff;
  border-width: 5px;
  background-color: green;
  color: #fff;
  text-align: center;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
