<!DOCTYPE html>
<html>
<head>
  <title>FP QUIZ TK</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="transparentbg">
    <h1>What's your favorite thing about bulldogs?</h1>
  </div>
  
<%= yield %>

</body>
</html>
